.separator {
  /* width: 87.5rem; */
  display: flex;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
  border: solid 1px #e8e8e8;
}

.white {
  background-color: #fafafa
}

.itemsCnt {
  
  /* width: 87.5rem;
  height: 68.563rem;
  margin: 0 2.5rem 4.063rem 0;
  padding: 0 0 49.625rem; */
  border-radius: 4px;
  margin: 0;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 3%;
  padding-bottom: 3%;
}

.bookForm {
  padding-left: 5%;
  padding-right: 5%;
}
